<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End of Day Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f9f9f9;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <h1>End of Day Report</h1>
    <table>
        <thead>
            <tr>
                <th>Created Date</th>
                <th>National ID</th>
                <th>Mobile Number</th>
                <th>Name</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.created}}</td>
                <td>{{this.natIDNumber}}</td>
                <td>{{this.mobileNumber}}</td>
                <td>{{this.fullName}}</td>
                <td>{{this.comments}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>