<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: beige;
            direction: rtl;
            text-align: right;
            padding: 30px;

        }

        * {
            margin: 5px 0;
        }

        h1 {
            text-align: center;
        }

        .navbar {
            display: flex;
            justify-items: center;
            justify-content: end;
            margin-left: 5%;
        }

        .navbar img {
            width: 15%;
        }

        .section2 {
            width: 50%;
            margin: auto;
            display: flex;
            background-color: #ccc;
            justify-items: center;
            justify-content: space-evenly;
        }

        .dotted-boxes {
            background-color: #ccc;
            display: flex;
            gap: 5px;
        }

        .dotted-box {
            height: 30px;
            border: 1px dashed #333;
            text-align: center;
            font-size: 14px;
        }

        input[type="text"] {
            width: 6%;
            padding: 6px;
            border: 1px solid #ccc;
        }

        .id-number {
            display: flex;
        }

        .name {
            border: 2px black solid;
        }

        .table {
            border: 3px solid black;
            width: 90%;
            margin: auto;
            padding: 30px;
        }

        .col {
            display: flex;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: space-between;
        }

        .dash-line {
            width: 100%;
            height: 1px;
            background-color: black;
        }

        .cell {
            display: inline-flex;
            gap: 300px;
        }

        .sec3 {
            background-color: brown;
            text-align: center;
            color: #fff;
            width: 80%;
            margin: auto;
        }

        .date {
            background-color: #ccc;
            border: none;
        }

        h4 {
            text-decoration: underline;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="logo.jpg" alt="Bank Masr Logo">
        </div>
    </nav>
    <h1>طلب اصدار بطاقة ميزة المدفوعة مقدماً بالتعاون مع شركة fintech</h1>

    <section>
        <div class="section2">
            <p>طلب اصدار بطاقه جديده <input type="checkbox" name="option" onclick="checkOnlyOne(this)" id=""></p>
            <p>بدل فاقد\تالف \اعاده اصدار البطاقه <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></p>
        </div>
    </section>
    <section>
        <input type="text" style="width: 40%; height: 30px;" name="" id="" placeholder="الفرع:">
        <div class="id-number">
            <p>رقم البطاقه </p>
            <div class="dotted-boxes">
                {{#each data.natIDNumbers}}
                    <input type="text" maxlength="1" class="dotted-box" value="{{this}}" />
                {{/each}}
            </div>
        </div>
    </section>
    <section>
        <div class="name">
            الاسم بالغه العربيه (رباعي)
            :
            <input style="background: transparent; width: 50%;" type="text" value="{{data.firstNameAr}} {{data.lastNameAr}}">
            <div class="dash-line"></div>
            الاسم بالغه الانجليزيه :
            <input style="background: transparent; width: 50%;" type="text" value="{{data.firstNameEn}} {{data.lastNameEn}}">
        </div>
    </section>
    <section>
        <div class="table">
            العنوان:
            <input type="text" style="width: 50%; background-color: transparent;" value="{{data.address}}">
            <div class="dash-line"></div>
            <div class="col">
                <P>الجنسيه : مصري</P>
                <P> هل توجد لديك جنسيات اخري؟</P>
                <P>نعم <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></P>
                <P>لا <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></P>
                <P> ما هي <input type="text" style="width: 50%; background-color: transparent;"></P>
            </div>
            <div class="dash-line"></div>
            <p>رقم جواز السفر للجنسيه الاخري : <input type="text" style="background-color: transparent; width: 30%;">
            </p>

            <div class="col">
                <p>نوع الجنسيه:</p>
                <input type="text" style="background-color: transparent; width: 30%; ">

                <p class="mg-l">في حاله الجنسيه الامريكيه برجاء اضافه الرقم الضريبي:</p>
                <input type="text" style="background-color: transparent; width: 30%;">
            </div>
            <div class="col">
                <p>تاريخ اصدار جواز السفر:</p>
                <input type="text" style="background-color: transparent; width: 30%; ">

                <P>تاريخ انتهاء جواز السفر:</P>
                <input type="text" style="background-color: transparent; width: 30%;">
            </div>
            <p>تاريخ انتهاء اقامه العميل الاجنبي: <input type="text" style="background-color: transparent; width: 30%;">
            </p>
            <div class="dash-line"></div>
            <p>تاريخ الميلاد: <input type="text" style="width: 50%; background-color: transparent;" value="{{value.birthdate}}"></p>
            <div class="dash-line"></div>
            <p>رقم تحقيق الشخصيه: <input type="text" style="width: 50%; background-color: transparent;" value="{{data.natIDNumber}}"></p>
            <div class="dash-line"></div>
            <div class="col">
                <p>تاريخ الاصدار:</p>
                <input type="text" style="background-color: transparent; width: 40%; ">

                <p>جهه الاصدار:</p>
                <input type="text" style="background-color: transparent; width: 40%;">
            </div>
            <div class="dash-line"></div>
            <p>رقم التليفون: منزل\عمل <input type="text" style="width: 50%; background-color: transparent;"></p>
            <div class="dash-line"></div>
            <p>رقم التليفون المحمول: <input type="text" style="width: 50%; background-color: transparent;" value="{{data.mobileNumber}}"></p>
            <div class="dash-line"></div>
            <p>المهنه: <input type="text" style="width: 50%; background-color: transparent;" {{data.workOccupation}}></p>

            <div class="dash-line"></div>
            <p>جهه العمل: <input type="text" style="width: 50%; background-color: transparent;"></p>

            <div class="cell">
                <P> هل تشغل او سبق لك وشغلت اي منصب سياسي؟</P>
                <P>نعم <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></P>
                <P>لا <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></P>
            </div>
            <P>في حاله الاجابه بنعم برجاء ذكر المنصب<input type="text"
                    style="width: 50%; background-color: transparent;"></P>
            <div class="dash-line"></div>
            <p>عنوان العمل: <input type="text" style="width: 50%; background-color: transparent;" {{data.workAddress}}></p>
            <div class="dash-line"></div>
            <P>البريد الالكتروني:<input type="text" style="width: 50%; background-color: transparent;"></P>
            <div class="dash-line"></div>
            <div class="cell">
                <p>العميل مدرج بالقوائم السلبيه: <input type="checkbox" name="option" onclick="checkOnlyOne(this)"></p>

                <p>العميل غير مدرج بالقوائم السلبيه: <input type="checkbox" name="option" onclick="checkOnlyOne(this)">
                </p>

            </div>

        </div>
    </section>
    <section>
        <div>
            <p class="sec3">الاقرار</p>
            <div class="table">
                <p>اقر أنا الموقع أدناه بصحة البيانات المدونة عالية وأتعهد بإبلاغكم بأية تغييرات قد تطرأ عليها واقر بصحة
                    عنوان البريد المذكور في هذا الطلب وكذا عنوان البريد الإلكتروني ما لم اخطر البنك بما يفيد تغيير هذا
                    العنوان فور حدوث التغيير بموجب خطاب موصى علية بعلم الوصول وتعتبر دفاتر البنك وسائر الأوراق والوسائل
                    دليلاً على صحة توجيه هذه المراسلات وإثباتا لمحتواها ومنتجة لكافة أثارها القانونية ، كما أفوض بنك مصر
                    بالقيام بأية استعلامات عنى وأصرح له بالكشف عن كل أو بعض البيانات الخاصة بمعاملاتي بالبطاقة لاستيداء
                    حقوق البنك أو لإثبات حقه في أي نزاع ينشا بيني وبين البنك وذلك دون التقيد بأحكام الفصل التاسع (سرية
                    الحسابات) من القانون رقم 194 لسنة 2020 بإصدار قانون البنك المركزي والجهاز المصرفي والنقد .
                    كما اقر بأنني قد استلمت البطاقة المدفوعة مقدما المسجل بيانتها عليه وقمت بتنشيطها بمعرفتي وكذلك أقر
                    بموافقتي على ربط البطاقة بتطبيق الهاتف المحمول ماي فوري وبمسئوليتي عن كافة التعاملات المالية التي
                    تتم باستخدام البطاقة كما هو موضح بشروط وأحكام استخداماتها وإنني المستفيد الحقيقي من هذه التعاملات
                    المقر بما فيه اقر بقراتي وعلمي بالشروط والاحكام الخاصة بطلب اصدار البطاقة والرسوم الخاصة بالبطاقة:
                    ......................................................................................
                </p>
            </div>
        </div>
        <div class="table date">
            <div class="cell">
                <p>التاريخ: <input type="text" style="width: 50%; background-color: transparent;"></p>
                <p>توقيع العميل: <input type="text" style="width: 50%; background-color: transparent;"></p>
            </div>
            <p>توقيع الموظف المختص: <input type="text" style="width: 50%; background-color: transparent;"></p>
            <p>ختم الموظف المختص: </p>
        </div>
    </section>
    <section>
        <div style="padding: 10px;">
            <h4>طلب اصدار بطاقة بنك مصر- فورى (ميزة) مدفوعة القيمة مقدماً - وشروط استخدامها</h4>
            <p>برجاء قراءة شروط البطاقة المدفوعة مقدما بعناية تامة قبل البدء في ملء طلب الإصدار وفى حالة استيفاء ذلك
                والتوقيع على طلب الإصدار، فأن ذلك يعد بمثابة موافقة منكم على إصدار البطاقة بالشروط التي تحكم استخدامها.
            </p>
            <p>(1) تعاريف:</p>
            <p>- يقصد بالبنك: بنك مصر ومقره الرئيسي 151 شارع محمد فريد – القاهرة.</p>
            <p>- المقصود بالبطاقة: بطاقة مدفوعة القيمة مقدما تحمل شعار بنك مصر وشركة فوري وهي بطاقة واحدة تصدر للأفراد
                وغير مسموح بإصدار بطاقات افتراضية او إضافية، وتصدر غير منشطة ويتم تنشطيها من خلال الات البيع الطرفية
                (POS) في منافذ فوري، وهي بطاقة Unnamed ويتم طلبها وتسليمها من خلال منافذ فوري بعد التعرف على هوية العميل
                ويقوم العميل بربط البطاقة بالتطبيق من خلال رقم ال OTP المرسل على رقم الهاتف المحمول الخاص بالبطاقة
                المسجل على النظام.
                - التعريف بالخدمة اللاتلامسية (Contactless): هي تقنية حديثة تم اضافتها بما يتيح لحامل البطاقة اجراء
                عملية الشراء دون الحاجة الى ادخال البطاقة داخل نقاط البيع الثابتة "POS" وفقاً للقواعد والحدود التي
                يقررها البنك.
            </p>
            <p>- حال صدور البطاقة بالخدمة اللاتلامسية (Contactless) يتم التعامل عليها بالشروط الاتية:</p>
            <p>
            <ul>
                <li>يجب ان تكون أول عملية للبطاقة المصدرة حديثاً هي بتمرير البطاقة في الماكينة "Contact" ليتم تفعيل
                    الخدمات اللاتلامسية.</li>
                <li>هناك حد أقصى لإجراء عمليات شراء لاتلامسية "Contactless" بدون ادخال رقم سرى.</li>
                <li>يمكن اجراء عمليات شراء لاتلامسية "Contactless" بقيم أعلى من الحدود المقررة عن طريق ادخال الرقم
                    السري.</li>
                <li>• يكون شعار المدفوعات اللاتلامسية على البطاقات والماكينات التي تعمل بها الخدمة ( ).</li>
            </ul>
            </p>
            <p>(1) شركة فوري: شركة تكنولوجيا البنوك والمدفوعات الالكترونية ومقرها الرئيسي القرية الذكية – طرق مصر
                اسكندرية الصحراوي.</p>
            <p>(2) تطبيق ماي فوري Myfintech: تطبيق دفع الكتروني تابع لشركة فوري الذي يتيح للعملاء استخدام البطاقات في
                سداد الخدمات المتاحة لدفع الفواتير والاستعلام عن رصيد وكشف حساب البطاقة من خلاله ويكون رصيد البطاقة هو
                نفسه رصيد التطبيق.</p>
            <p>(3) الخدمة/الخدمات التي تتيحها البطاقة: هي خدمة مقدمة للعميل بالتعاون بين بنك مصر وشركة فوري يسري عليها
                استخدامات بطاقة ميزة المدفوعة مقدما الموجودة حاليا بمصرفنا بالإضافة الى إمكانية ربطها بتطبيق ماي فوري
                لسداد الفواتير والاستعلام عن رصيد البطاقة وكشف الحساب البطاقة من خلال التطبيق. </p>
            <p>مدة البطاقة: تصدر البطاقة بمدة صلاحية 5 سنوات وتكون موضحة على البطاقة.</p>
            <p>(4) يكون حامل البطاقة مسئولاً مسئولية مطلقة غير مشروطة قبل البنك عن كافة المصاريف والالتزامات المترتبة
                على استخدام البطاقة وكذا النتائج المترتبة على فقد أوهلاك أو إساءة استخدام البطاقة وللبنك الحق في الرجوع
                عليه في ذلك.</p>
            <p>(5)يجب أن يكون استخدام البطاقة مقصوراً على حاملها والموقع على ظهر البطاقة وطبقاً للشروط والأحكام المدونة
                بهذا الطلب، كما يقتصر استخدامها في حدود المبلغ المودع في البطاقة او حسب ما يقرره بنك مصر من حدود
                الاستخدام وتلك الحدود يلتزم بها حامل البطاقة ولا يحق له الاعتراض عليها.</p>
            <p>(6) من المتفق عليه أن البطاقة تستخدم داخل جمهورية مصر العربية.</p>
            <p>(7) يحق لحامل البطاقة الإيداع أكثر من مرة طوال مُدة صلاحيتها </p>
            <p>(8) يتعين على حامل البطاقة أن يغذى بطاقته بأرصدة تكفي لتغطية المصاريف والالتزامات الناشئة عن استخدام
                البطاقة كما يوافق على خصم قيمة كافة استخدامات البطاقة فوراً من الرصيد المتاح بها.</p>
            <p>(9)في حالة وجود اى استفسارات او مشاكل تقنية خاصة بالتطبيق (ادخال الرقم السري خطأ بعد عدد من المحاولات
                الفاشلة.. الغاء التطبيق.. إيقاف التطبيق ........) يقوم العميل بالرجوع الى مركز الاتصال الخاص بشركة فوري
                الموضح بخطاب التظريف.</p>
            <p>(10)يقتصر ربط البطاقة بتطبيق ماي فوري / الهاتف المحمول الخاص ببنك مصر، بالاقتران مع جهاز الهاتف المحمول
                الذي تم توثيقه عند إتمام عملية التسجيل.</p>
            <p>(11)يحق للبنك / شركة فوري أن يخصم تلقائياً أي مبلغ سبق إضافته له بطريق الخطأ مع اخطار حامل البطاقة.
                <br>(12) سيتم تقديم خدمات (اعتراض العميل على حركات ATM/POS) من خلال قيام العميل بالاتصال بمركز اتصال
                شركة فوري او مركز الاتصال التابع لمصرفنا ليتم توجيه طلبه الى شركة فوري المعنية بتنفيذ طلب العميل وسيتم
                الرد على شكوى العميل بعد حلها من جانب الشركة بحد أقصى15يوم عمل
                <br>(13) يتم إيقاف البطاقة من جانب مصرفنا او الشركة من خلال مراكز الاتصال التابعة لكل منها فور تلقيها
                اتصال هاتفي من العميل يفيد بذلك.
                <br>(14) سيتم تعريف العميل بفروع مصرفنا التي ستقوم باستقبال طلبات الخدمات الخاصة بالبطاقة من خلال
                التطبيق الخاصة بالشركة او خطاب التظريف الخاص بالبطاقة
                <br>(15) يحق للبنك إيقاف/ الغاء البطاقة في حالة رفض البنك طلب الاشتراك لاي سبب يتعلق بإجراءات طلب اصدار
                البطاقة
                <br>(16) لا يكون البنك مسئولا بأي وجه إذا رفضت أية منشاة قبول البطاقة في إتمام المعاملات.
                <br>(17) في حالة وجود رصيد مدين بالبطاقة لأي سبب يلتزم حامل البطاقة بسداد هذا الرصيد فوراً بالإضافة إلى
                أي نسبة يحددها البنك وفي حالة عدم السداد يصرح حامل البطاقة للبنك بالتنفيذ والخصم على أي حسابات دائنة أو
                ضمـانات باسمـه بالبنك كالودائع ـ حسابات التوفير ـ شهادات الادخار أو غيرها سواء كانت بالفرع المُصدر
                للبطاقة أو أي فرع أخر وذلك دون إخطاره أو إنذاره أو أعذاره أو الحصول على موافقة منه بذلك.
                <br>(18) تعتبر جميع المراسلات والمكاتبات والأوراق التي ترسلها شركة فوري لحامل البطاقة على عنوانه سواء
                العادي أو الالكتروني صحيحة ما لم يخطر شركة فوري بما يفيد تغييره وذلك فور حدوث التغيير بموجب خطاب موصى
                عليه بعلم الوصول وتعتبر سائر الأوراق والرسائل دليلاً على صحة توجيه هذه المراسلات وإثباتا لمحتواها ومنتجة
                لكافة أثارها القانونية.
                <br>(19) يقر حامل البطاقة بأن جميع العمليات المنفذة باستخدام البطاقة والرقم السري والصادرة من واقع وثائق
                ومستندات البنك/ شركة فوري باختلاف أنواعها تعتبر صحيحه ونافذه في مواجهته.
                <br>(20) البنك غير مسئول عن أي خلافات تنشأ بين حامل البطاقة والتجار حول السلع والخدمات المختلفة التي حصل
                عليها منهم بموجب البطاقة.
                <br>(21) من المتفق عليه بين الطرفين أن كافة استخدامات البطاقة داخل جمهورية مصر العربية يتم خصمها بالجنية
                المصري من رصيد البطاقة
                <br>(22) كافة العمليات المنفذة بالبطاقة سواء على آلات البيع الطرفية لدى أي تاجر (Point of sale) أو على
                آلات الصرف الآلي ATM داخل الجمهورية والتى تتطلب ادحال العميل للرقم السرى للبطاقة والذي قام العميل
                بإنشائه وهي مسئولية حامل البطاقة مسئولية مطلقة ولا يحق له الرجوع على البنك بقيمة تلك العمليات وتعتبر
                دفاتر وسجلات البنك قاطعة وملزمة في شأن هذه العمليات.
                <br>(23) حامل البطاقة مسئول مسئولية مطلقة عن بطاقته ويتعهد بالحفاظ على البطاقة فإذا فقدت أو سرقت يعد
                مسئولاً مسئولية مطلقة عن النتائج المترتبة عن إساءة الاستخدام بواسطته أو بواسطة الغير ويلتزم حامل البطاقة
                بإخطار شركة فوري او البنك فوراً بإيقاف العمل بالبطاقة بموجب اتصال تليفوني واخطار الشركة ببياناته وبرقم
                هاتفه المحمول المسجل ببيانات البطاقة لشركة فوري او البنك وتعزيز ذلك الاتصال بموجب طلب مكتوب أو بخطاب
                موصى عليه وموقع منه على أن يتحمل حامل البطاقة أية مبالغ تنتج عن استخدام البطاقة ولمدة أسبوع بعد تاريخ
                استلام (البنك) للإخطار الكتابي كما يتعهد حامل البطاقة بموافاة البنك بكافة المعلومات المتعلقة بظروف الفقد
                او السرقة على ان يتعاون مع البنك لإمكانيه استعاده البطاقة.
                <br>(24) يحق للبنك إيقاف استخدام البطاقة أو إلغائها في أي وقت دون إبداء أسباب مع أخطار حامل البطاقة.
                <br>(25) يوافق حامل البطاقة على قيام بنك مصر بخصم أيه رسوم أو عمولات يحددها بإرادته المنفردة تتعلق
                باستخدام البطاقة سواءً على آلات الصراف الآلي ATM أو الشراء من المنافذ التجارية داخل الجمهورية، ويحق
                للبنك تعديل تلك الرسوم أو العمولات في أي وقت دون اعتراض من حامل البطاقة على ان يتم اخطاره بتلك التعديلات
                مسبقاً.
                <br>(26) يتعين على حامل البطاقة متابعة رصيد بطاقته من خلال الوسائل التي تتيحها شركة فوري للعميل وفي حالة
                الاعتراض على أية عملية فانه يتعين على حامل البطاقة تقديم اعتراض كتابي إلى شركة فوري خلال موعد أقصاه 30
                يوماً من تاريخ قيد العملية المعترض عليها وإلا يعد هذا موافقة منه على ذلك.
                <br>(27) يحق لحامل البطاقة إلغاء بطاقته على أن يظل التزامه قائماً وسارياً بالنسبة للتعاملات التي تمت
                بالبطاقة حتى تاريخ الإلغاء.
                <br>(28) في حالة تقديم العميل شكوى، تكون من خلال أي من القنوات المتاحة لاستقبال شكاوى العملاء من خلال
                مركز الاتصال الخاص بشركة فوري او مركز الاتصال الخاص بالبنك ويتم الرد على شكوى العميل خلال فترة لا تتجاوز
                خمسة عشر يوم عمل من تاريخ استلامها (فيما عدا الشكاوى المتعلقة بمعاملات مع جهات خارجية مع وجوب
                اخطارالعميل بالمدة اللازمة لدراسة الشكوى).
                <br>(29) في حالة عدم قبول العميل رد البنك او مقدم الخدمة، يتعين عليه اخطار البنك او مقدم الخدمة كتابياً
                خلال خمسة عشر يوم عمل من تاريخ استلام الرد متضمناً أسباب عدم القبول، وفي حالة عدم قيامه بذلك يعتبر
                قبولاً ضمنياً للرد وفي حالة اخطار البنك او مقدم الخدمة بعدم قبول الرد، يجب علي البنك إعادة النظر و فحص
                الشكوى مرة أخرى و الرد النهائي علي العميل خلال خمسة عشر يوم عمل، مصحوباً بالمبررات المناسبة و الواضحة
                خاصة إذا لم يتغير الرد، مع إخطار العميل بحقه في تصعيد الشكوى للبنك المركزي المصري في حالة عدم قبول
                العميل الرد الثاني من البنك
                <br>(30) يصرح حامل البطاقة لبنك مصر بالكشف عن كل أو بعض البيانات الخاصة بمعاملاته طرف البنك للغير بطريق
                مباشر أو غير مباشر دون الرجوع على البنك بإفشاء سرية الحسابات.
                <br>(31) يحق للبنك إيقاف البطاقة دون سابق إنذار أو أعذار في حالة تجاوز رصيد البطاقة غير المستخدم الحدود
                المقررة من طرف البنك مع اخطار العميل.
                <br>(32) البنك / شركة فوري غير مسئول عن أية أضرار تنشا نتيجة خلل أي جهاز آلي أو أي سبب أخر خارج عن سيطرة
                البنك.
                <br>(33) بطاقة بنك مصر مملوكة للبنك وتعد أمانة لدى حاملها.
                <br>(34) عند الاعتراض من جانب حامل البطاقة على أي مبلغ مقيد عليه لن يكون البنك ملزماً بإضافة قيمة المبلغ
                المعترض عليه إلى حساب البطاقة ما لم تكن قيمته قد أضيفت لحساب بنك مصر بمعرفة البنك المنفذ للحركة.
                <br>(35) البنك / شركة فوري غير ملتزمين بإرسال صوراً من مستندات الشراء المنفذة لحامل البطاقة إلا إذا تقدم
                بطلب كتابي يفيد ذلك وفي ضوء القواعد المتبعة لدى البنك / شركة فوري مقابل مصروفات تقيد على حسابه.
                <br>(36) في حالة سماح البنك في التعامل على الشبكة الالكترونية (الانترنت) باستخدام البطاقة فان حامل
                البطاقة يكون مسئول مسئولية كاملة عن كل العمليات التي تتم باستخدام البطاقة والرقم السري على الشبكة
                المذكورة دون أدنى مسئولية على البنك.
                <br>(37) يجب على مستخدم النظام الالتزام بقراءة التحذيرات والإطارات التنبيهية وقبول اي تغيير في الشروط
                والاحكام خلال تطبيق فوري على الهاتف المحمول الذي سيظهر من خلال النظام الكترونيا يعتبر التزاما قانونيا
                كما يجب ان يتم إلزام العميل بقراءة التنبيهات والتحذيرات الموجودة على موقع البنك فيما يتعلق بالبطاقة
                المصدرة له
                <br>(38) يوافق ويقر مقدم الطلب بأحقية بنك مصر بالكشف عن كل أو بعض البيانات الخاصة بمعاملاته لدى البنك
                لاستيداء حقوق البنك أو لأثبات حقه في أي نزاع ينشأ بينه وبين البنك وذلك وفقاً لما يتراءى له
                <br>(39) في حالة وجود منازعات على المعاملات المالية او وجود شكاوى من قبل مستخدمي النظام تخضع عمليات
                تسوية المنازعات الي قواعد ثابتة لفض المنازعات يتم التعامل بها مع شكاوى العملاء.
                <br>(40) يوافق حامل البطاقة على الاشتراك في أي خدمات إلكترونية (مثل: خدمة المحفظة الالكترونية -Instapay
                -الانترنت البنكي في حالة ان حامل البطاقة عميل البنك) يقدمها البنك ويعتبر موافقته على الشروط والاحكام
                الخاصة بهذه الخدمات الكترونياً موافقة على استخدام هذه الخدمات طبقاً للإجراءات التي يحددها البنك في هذا
                الخصوص.
                <br>(41) يلتزم حامل البطاقة بالتعليمات التي تصدرها الشبكة القومية لبطاقات الدفع ذات العلامة الوطنية
                (ميزة) والبنك وما يطرأ عليها من تغيرات وتعديلات تجريها الشبكة المعنية كجزء لا يتجزأ من التزاماته الواردة
                بهذه الشروط.
                <br>(42) يقر حامل البطاقة بأنه المالك الأصلي والمستفيد الوحيد من البطاقة ويتعهد بعدم إيداعه شخصياً أو
                قبوله إيداع أيه مبالغ مجهولة المصدر أو مشبوهة ويلتزم بتحـديث المعلومات والمسـتندات المقدمة بشأن طلب
                إصدار البطاقة خلال فترة صلاحيتها أو عند ظهور أسباب أو متغيرات تدعو لذلك ووفقاً لما تستجوبه أحكام القانون
                رقم 80/2002 بشأن مكافحة غسل الأموال في مصر
                <br>(43) يتحمل حامل البطاقة جميع المسئوليات والاضرار التي قد تحدث نتيجة ضياع أو فقدان أو إفشاء أو سرقة
                أو أي حدث أخر يؤدي إلى إفشاء كلمة المرور الخاصة بالبطاقة / التطبيق) أو استخدام النظام من قبل شخص غير
                مفوض لأي سبب من الأسباب.
                <br>(44) يجب على حامل البطاقة بالتأكد من السلامة الأمنية لهاتفه المحمول والتأكد من عدم وجود أي محاولات
                اختراق ويعتبر حامل البطاقة مسئول وحده – دون أدني مسئولية على البنك
                <br>(45) يتعهد حامل البطاقة حال استخدامها لدى الات الصراف الألى ATM "Contact" بعدم قيامه بتنفيذ ايداعات
                او مسحوبات تفوق قيمتها عن الحدود المقررة من بنك مصر والمبلغة له من البنك عند إصدار البطاقة وفى حالة
                قيامة بتنفيذ ذلك يحق للبنك القيام بإيقاف أو إلغاء البطاقة دون اعتراض من حامل البطاقة على ذلك ودون إخطاره
                أو إنذاره أو أعذاره أو الحصول على موافقة منه بذلك، كما يحق للبنك الامتناع عن إصدار أي بطاقة أخرى له
                مستقبلاً.
                <br>(46) يلتزم العميل باتخاذ كافة الإجراءات الضرورية واللازمة لتأمين الأجهزة وشبكات الاتصال الخاصة
                بالعميل ضد الفيروسات أو محاولات الاختراق ويعتبر العميل مسئول وحده – دون أدني مسئولية على البنك – في
                اتخاذ كافة التدابير اللازمة والكفيلة للحفاظ على سرية اسم المستخدم وكلمة المرور الخاصة بشاشات أنظمة
                الخدمات ووضع الإجراءات والبرامج الكفيلة بمنع اختراق أجهزتها.
                <br>(47) في حالة استخدام الخدمة اول مرة يتم توجه العميل الى فرع فوري لاستلام البطاقة وتنشيطها من خلال
                الات ال POS.
                <br>(48) يصرح العميل للبنك في الاستعلام عنه عن طريق أحد موظفيه أو وكلائه أو أحد المكاتب أو الشركات
                المتخصصة في ذلك للحصول على البيانات والمعلومات المتعلقة به من البنوك الأخرى أو البنك المركزي المصري أو
                أي جهات أخرى أو تقديم هذه البيانات أو المعلومات الى الجهات المذكورة حال طلبها.
                <br>(49) يخضع هذا الطلب وما تضمنه من تعليمات وتعهدات للقوانين المصرية وأي نزاع ينشأ حول تفسيره أو تنفيذه
                يكون النظر فيه لمحاكم القاهرة بجميع درجاتها وسوف يقبل الأجانب النسخة العربية المقدمة من بنك مصر إلى
                المحاكم المذكورة.
                <br>(50) يحتفظ البنك بحقه في تعديل وتغيير هذه الشروط والأحكام من وقت لأخر دون الحاجة إلى موافقة حامل
                البطاقة ويقوم البنك بإخطاره بأي تعديل مسبقا بالطريقة التي يراها مناسبة كما تعتبر التعديلات المدخلة على
                هذه الشروط جزءاً لا يتجزأ منها دون الحاجة إلى موافقة كتابية من حامل البطاقة.
                <br>(51) تقوم شركة فوري بإخطار العملاء في حالة انقطاع الخدمة لعمل صيانة محددة مسبقاً عن طريق رسالة نصية
                على رقم الهاتف المحمول المسجل الخاص بالبطاقة والمسجل على النظام.
                <br>(52) يتعهد العميل بسداد رسوم مصروفات البطاقة، ورسوم أية خدمات إضافية أخري تتيحها البطاقة والذي سوف
                يحددها البنك التي تعلن وتفصح عنها شركة فوري من خلال التطبيق الخاص بالشركة مسبقاً.
                <br>(53) يجب على حامل البطاقة الاتصال بالبنك / شركة فوري في حالة قيام موظفي البنك او وكلائه بطلب من
                مستخدم النظام الإفصاح عن بياناته السرية في أسرع وقت.
                <br>(54) يحق للبنك أو الشركة إيقاف استخدام البطاقة أو إلغائها في أي وقت في حالة اثبات إساءة استخدامها من
                قبل مستخدم النظام دون إبداء أسباب مع إخطار حامل البطاقة.
                <br>(55) يجب على العميل بالتأكد من صحة التطبيق الرسمي الخاص بشركة فوري قبل الاستخدام من خلال تحميلة من
                المتجر الرسمية بالهواتف المحمولة.
                <br>(56) يجب على العميل بعدم الإفصاح عن أي معلومات شخصية لاي شخص لم يتأكد من هويته او استخدام تطبيقات
                هواتف محمولة موضع شك وفي حالة وقوع ذلك يجب على المستخدم الاتصال بالبنك/الشركة في أسرع وقت ممكن.
            </p>

            <div class="cell">
                التاريخ ........ / ........ / ........
                <p> أسم العميل / ........................................</p>
            </div>
            <p> توقيع العميل/ .......................................</p>

        </div>
    </section>
    <script src="api.js"></script>
    <script src="main.js"></script>
</body>

</html>